body {
    background-color: #706d6d;
}

.suhead {
    text-align: center;
    font-size: 50px;
    font-family: "Courier New";
}

input {
    background-color: #303030;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -moz-box-shadow: 0 -1px 0 0px #000;
    -webkit-box-shadow: 0 -1px 0 0px #000;
    box-shadow: 0 -1px 0 0px #000;
    border: none;
    width: 316px;
    height: 27px;
    margin: 15px 0;
    color: #fff;
    padding: 0 0 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
}

button {
    width: 79px;
    height: 24px;
    text-align: center;
    border: none;
    -webkit-gradient-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 0px 1px rgba(255,255,255,0.1);
    -moz-box-shadow: 0 0px 1px rgba(255,255,255,0.1);
    box-shadow: 0 0px 1px rgba(255,255,255,0.1);
    color: #fff;
}

button:hover {
    background: #363535;
}

form{
    margin: 0 auto;
    width:250px;
    text-align: center;
 }